<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="15px grid" >
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let poke of pokelist" >
      <mat-card class="mat-elevation-z4" class="card" [style.background-color]="getBackgroundColor(poke.types[0].type.name)">
        <mat-card-header>
          <mat-card-title class="titulo">{{poke.species.name | uppercase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="poke.sprites.other.home.front_default">
        <mat-card-content>
          <p>
            <b>Tipo:</b> {{poke.types[0].type.name | uppercase}}
          </p>
          <p>
            <b>Altura:</b> {{poke.height}}
          </p>
          <p>
            <b>Vida:</b> {{poke.stats[0].base_stat }}
          </p>
          <p>
            <b>Força de ataque:</b> {{poke.stats[2].base_stat }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  </div>
